<header>
</header>
<div class="container eighty">
  <%= image_tag 'banner.jpg', class: "banner" %>
  <div class="section">

  </div>
  <div class="section">
    <h1>Trunk show title</h1>
    <div class="line sixty"></div>
    <p class="eighty">Trunk show info - This is dummy text to text the layout of a long string. Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text.</p>
  </div>
  <div class="section">
    <h1>Trunk show title</h1>
    <div class="line sixty"></div>
    <p class="eighty">Trunk show info - This is dummy text to text the layout of a long string. Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text.</p>
  </div>
  <div class="section">
    <h1>Trunk show title</h1>
    <div class="line sixty"></div>
    <p class="eighty">Trunk show info - This is dummy text to text the layout of a long string. Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text.</p>
  </div>
</div>
<footer>
  <p>Made by <%= link_to 'nick-brown-dev', 'http://nick-brown-dev.com', target: 'blank' %>  -  Copyright 2016</p>
</footer>