<header>
</header>
<div class="container eighty">
  <%= image_tag 'banner.jpg', class: "banner" %>
  <div class="line"></div>
  <div class="section">
    <p class="sixty ">Hello and thank you for visiting! Our online presence is currently undergoing a quick remodeling.</p>
    <p class="sixty">For information about our Trunk Shows, please look below.</p>
    <p class="sixty">If you have any other questions, or need to get in touch with us for any reason, please feel free to contact us using the following information:</p>
    <p class="sixty">Location: 810 Elm Street in Winnetka, Illinois</p>
    <p class="sixty">Phone: 847-446-2112</p>
    <p class="sixty">Fax: 847-446-2118</p>
  </div>
  <div class="section">
    <h1>Trunk show title</h1>
    <div class="line sixty"></div>
    <p class="eighty trunk-info">Trunk show info - This is dummy text to text the layout of a long string. Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text.</p>
  </div>
  <div class="section">
    <h1>Trunk show title</h1>
    <div class="line sixty"></div>
    <p class="eighty trunk-info">Trunk show info - This is dummy text to text the layout of a long string. Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text.</p>
  </div>
  <div class="section">
    <h1>Trunk show title</h1>
    <div class="line sixty"></div>
    <p class="eighty trunk-info">Trunk show info - This is dummy text to text the layout of a long string. Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text.</p>
  </div>
</div>
<footer>
  <p>Made by <%= link_to 'nick-brown-dev', 'http://nick-brown-dev.com', target: 'blank' %>  -  Copyright 2016</p>
</footer>