<header>
</header>
<div class="container eighty">
  <%= image_tag 'fh-header.png', class: "banner" %>
  <div class="line"></div>
  <%= image_tag 'banner.png', class: "banner" %>
  <div class="line"></div>
  <div class="section">
    <p class="sixty ">Hello and thank you for visiting! Our online presence is currently undergoing a quick remodeling.</p>
    <p class="sixty">For information about our Trunk Shows, please look below.</p>
    <p class="sixty">If you have any other questions, or need to get in touch with us for any reason, please feel free to contact us using the following information:</p>
    <p class="sixty">Location: 810 Elm Street in Winnetka, Illinois</p>
    <p class="sixty">Phone: 847-446-2112</p>
    <p class="sixty">Fax: 847-446-2118</p>
  </div>
  <div class="section">
    <h1>Trunk Shows</h1>
  </div>
  <div class="line eighty"></div>
  <div class="section">
    <h1>March</h1>
    <div class="line sixty"></div>
    <p class="eighty trunk-info">11-12 (Friday-Saturday): Niel Bieff</p>
    <p class="eighty trunk-info">15-17 (Tuesday-Thursday): Peserico, Richiami Scarves</p>
    <p class="eighty trunk-info">18-19 (Friday-Saturday): Amelia Toro, J. Markell Handbags</p>
  </div>
  <div class="section">
    <h1>April</h1>
    <div class="line sixty"></div>
    <p class="eighty trunk-info">1-2 (Friday-Saturday): Kevin Hall, Alberta Ferretti</p>
    <p class="eighty trunk-info">7-9 (Thursday-Saturday): Henry Beguelin, Lafayette 148</p>
    <p class="eighty trunk-info">8-9 (Friday-Saturday): Fabiana Filippi</p>
    <p class="eighty trunk-info">14-16 (Thursday-Saturday): Carmen Marc Valvo</p>
    <p class="eighty trunk-info">29-30 (Friday-Saturday): Schacky Maison Common</p>
  </div>
  <div class="section">
    <h1>May</h1>
    <div class="line sixty"></div>
    <p class="eighty trunk-info">12-14 (Thursday-Saturday): Brunello Cucinelli</p>
    <p class="eighty trunk-info">20-21 (Friday-Saturday): Schumacher</p>
  </div>
</div>
<footer>
  <p>Find us on <%= link_to 'facebook', 'https://www.facebook.com/Frances-Heffernan-and-Frannie-374508722662/' %> | Made by <%= link_to 'nick-brown-dev', 'http://nick-brown-dev.com', target: 'blank' %>  -  Copyright 2016</p>
</footer>